<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=5.0, user-scalable=yes">
    <title>Nouveau patient</title>
    <html xmlns:th="http://www.thymeleaf.org">
    <link rel="icon" type="image/png" sizes="16x16" href="img/LOGO_OMNESSANTE.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/templates/front/style/AjoutPatient.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<form action="http://localhost:8080/admin/add-patient"  method="POST" class="Add">


    <div class="input-groupA">
        <label>Nom du Patient</label>
        <input type="text" name="lastname" >


    </div>

    <div class="input-groupA">
        <label>Prenom du du patient</label>
        <input type="text" name="name">
    </div>
    <div>
        <label for="birthday">Date de naissance :</label>
        <input type="datetime-local" id="birthday" name="birthday">
    </div>


        <div class="input-groupA">
        <label>Addresse mail</label>
        <input type="text" name="mail">
    </div>

    </div>
    <div class="input-groupA">
        <label>Service</label>
        <select name="service" class="liste">
            <option value="Médecine Généraliste">Généraliste</option>
            <option value="Cardiologie">Cardiologie</option>
            <option value="Chirurgie">Chirurgie</option>
            <option value="Radiologie">Radiologie</option>
            <option value="Ophtalmologie">Ophtalmologie</option>
            <option value="Dermatologie">Dermatologie</option>
            <option value="Dentisterie">Dentisterie</option>
        </select>
    </div>

    <div class="input-groupA">
        <button type="submit" name="Add" class="btnA">Ajouter</button>
    </div>
</form>
</body>