<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des Patients</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h1>Liste des Patients</h1>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Âge : </th>
            <th>Consulter</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="admin : ${admins}">
            <td th:text="${admin.name}"></td>
            <td th:text="${admin.status}"></td>
            <td th:text="${admin.speciality}"></td>
<!--            <td><a th:href="@{/admin/patient-details(id=${patient.patientid})}">Consulter</td>-->
        </tr>
        </tbody>
    </table>
    <a href="AjoutPatient" class="btn btn-primary">Ajouter</a>
</div>

</body>
</html>
